@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
}

button {
  margin-left: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

footer {
  margin-top: 20px;
  text-align: center;
}
.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
  padding: 20px;
  border: none;
  border-radius: 4px;
  background-color: white;
}